/* yeni ekle butonu */
.btn-yeniekle {
    background:linear-gradient(to right, #11998e 0%, #38ef7d 100%); 
    border-color:#38ef7d; 
    color:beige;
}

/* kaydet butonu */
.btn-kaydet {
    background:linear-gradient(to right, #3a7bd5 0%, #00d2ff 100%); 
    border-color:#00d2ff; 
    color:beige;
}

/*gradient arkaplanlar*/
.bg-mor{
    background:linear-gradient(to right, #8914fe 0%, #8063f5 100%); 
    color:beige;
}

.bg-yesil {
    background:linear-gradient(to right, #11998e 0%, #38ef7d 100%); 
    border-color:#38ef7d; 
    color:beige;
}

.bg-kirmizi {
    background:linear-gradient(to right, #D31027 0%, #EA384D 100%); 
    border-color:#38ef7d; 
    color:beige;
}

/*alt kısım ana site footer css*/